/* login.css */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: #c4cc9e; /* Light beige background */
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }

input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 300px;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #69a74e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #5b9444; /* Darker green */
  }

  button:hover {
    background-color: #45a049;
  }
  
  .signup-text {
    margin-bottom: 5px;
  }

  .signup-link {
    padding: 8px;
    background-color: #69a74e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  .signup-link:hover {
    background-color: #5b9444; /* Darker green */
  }

.error-text {
    color: red;
    font-size: 14px;
    margin: 10px 0;
  }
  